<% @search.each do |station| %>
  <div class="station">
    Name: <%= station.name %>
    Address: <%= station.address %>
    City: <%= station.city %>
    State: <%= station.state %>
    Fuel Type: <%= station.fuel_type %>
    Distance: <%= station.distance %>
    Access Times: <%= station.access_times %>
  </div>
<% end %>
